# Ignore Gradle project-specific cache directory
.gradle

.vscode

src/main/resources/client_secret.json

# Ignore Gradle build output directory
build

bin


gaming.json
outputGame.json
skate.json
test.json
