# Ignore Gradle project-specific cache directory
.gradle

.vscode

src/main/resources/client_secret.json

# Ignore Gradle build output directory
build

bin

src/main/resources/client_secret_817907432942-glt34kslnheai6ao17gul4m6qe4o3hes.apps.googleusercontent.com.json

src/main/resources/output1
src/main/resources/output2